{% extends 'base.html'%}
{% block title %}
alons cv
{% endblock %}
    {%block main%}
    <div class="grid-template">
        <div class="content-left">
            <h2>ניסיון תעסוקתי</h2>
            <ul>
                <li>מדריך שחייה</li>
                <li>מורה פרטי</li>
                <li>מדריך פרח</li>
                <li>בעלים ומנהל מוצר בחברה בתחום החינוך</li>
            </ul>
            <h2>השכלה</h2>
            <ul>
                <li>סיום 12 שנות לימוד</li>
                <li>קורס מדריכי שחייה מטעם משרד העבודה</li>
                <li>לימודים לתואר ראושון בהנדסת תעשייה וניהול</li>
            </ul>
        </div>
        <div class="contect-right">
            <h2>סביבות פיתוח</h2>
            <ul>
                <li>phyton</li>
                <li>java</li>
                <li>html</li>
                <li>c#</li>
                <li>javescript</li>
            </ul>
            <a href="/contact-me">ליצירת קשר לחצו כאן</a>
        </div>
    </div>
    {% endblock%}